
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kings&family=Noto+Serif:ital@1&family=Redressed&family=Shizuru&display=swap');

html, body{
	margin: 0px;
	height: 100%;
	background-image: url("back.png");
	
}

.head{
	
	padding: 10px;
	margin: 0px;
	color: #ffffff;
}

.title-r
{
	padding-right: 100px;
	padding-left: 50px;
	background-color: transparent;
	border: none;
	color: white;
	display: inline-block;
	align-items: flex-end;
	font-style: italic;
	font-size: 28px;
	position: absolute;
	left: 0;
	font-family: 'Redressed', cursive;
	text-shadow: 3px 3px 6px black;
}
.b{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 8px;
	background-color: transparent;
	border: none;
	color: white;
	text-align: left;
	display: inline-block;
	align-items: flex-end;
	align-content: center;
	font-family: 'Shizuru', cursive;
	font-size: 20px;
	text-shadow: 2px 2px black;
}
.b:hover{
	box-shadow: inset 100px 0 0 0 #ffffff;
	opacity: 0.5;
	border-radius: 5px;
	color: black;
	padding-top: 10px;
}
.left{
	position: absolute;
	right: 0;
	padding-right: 50px;

}



img{
	width: auto;
	height: 100%;
}
.pic1{
	display: block;
	height: 450px;
	
	margin-left: 300px;
	margin-top: 80px;
	margin-right: 850px;
	box-shadow: 0px 0px 10px black;
}




.foot{

	margin: 0px;
	padding-top: 40px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 30px;

}

.f{
	padding-right: 30px;
	padding-left: 30px;
	background-color: transparent;
	border: none;
	text-align: center;
	display: inline-block;
	align-items: flex-end;
	align-content: center;
	font-family: 'Shizuru', cursive;
	font-size: 20px;
	color: #0db8b5;
	text-shadow: 2px 2px black;
}
.f:hover{
	
	color: black;
}